<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripAreaDicMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripAreaDic">
    <!--@mbg.generated-->
    <!--@Table itrip_area_dic-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area_no" jdbcType="VARCHAR" property="areaNo" />
    <result column="parent" jdbcType="BIGINT" property="parent" />
    <result column="is_activated" jdbcType="INTEGER" property="isActivated" />
    <result column="is_trading_area" jdbcType="INTEGER" property="isTradingArea" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="is_china" jdbcType="INTEGER" property="isChina" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, area_no, parent, is_activated, is_trading_area, is_hot, `level`, is_china, 
    pinyin, creation_date, created_by, modify_date, modified_by, is_deleted
  </sql>
</mapper>