<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripProductStoreMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripProductStore">
    <!--@mbg.generated-->
    <!--@Table itrip_product_store-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="store" jdbcType="INTEGER" property="store" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_type, product_id, store, creation_date, created_by, modify_date, modified_by, 
    is_deleted
  </sql>
</mapper>