<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripOrderLinkUserMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripOrderLinkUser">
    <!--@mbg.generated-->
    <!--@Table itrip_order_link_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="link_user_id" jdbcType="BIGINT" property="linkUserId" />
    <result column="link_user_name" jdbcType="VARCHAR" property="linkUserName" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, link_user_id, link_user_name, creation_date, created_by, modify_date, 
    modified_by, is_deleted
  </sql>
</mapper>