<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripCommentMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripComment">
    <!--@mbg.generated-->
    <!--@Table itrip_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotel_id" jdbcType="BIGINT" property="hotelId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="is_having_img" jdbcType="INTEGER" property="isHavingImg" />
    <result column="position_score" jdbcType="INTEGER" property="positionScore" />
    <result column="facilities_score" jdbcType="INTEGER" property="facilitiesScore" />
    <result column="service_score" jdbcType="INTEGER" property="serviceScore" />
    <result column="hygiene_score" jdbcType="INTEGER" property="hygieneScore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="trip_mode" jdbcType="BIGINT" property="tripMode" />
    <result column="is_ok" jdbcType="INTEGER" property="isOk" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotel_id, product_id, order_id, product_type, content, user_id, is_having_img, 
    position_score, facilities_score, service_score, hygiene_score, score, trip_mode, 
    is_ok, creation_date, created_by, modify_date, modified_by, is_deleted
  </sql>
</mapper>