<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelTradingAreaMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripHotelTradingArea">
    <!--@mbg.generated-->
    <!--@Table itrip_hotel_trading_area-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotel_id" jdbcType="BIGINT" property="hotelId" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotel_id, area_id, creation_date, created_by, modify_date, modified_by, is_deleted
  </sql>
</mapper>